.ova-contact-page{
	position: relative;
	input,textarea{
		font-size: 14px;
		font-weight: 500;
		font-family: var(--primary-font);
		// color: var(--text);
		&::placeholder {
		  color: var(--text);
		  opacity: 1; /* Firefox */
		}

		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		 color: var(--text);
		}

		&::-ms-input-placeholder { /* Microsoft Edge */
		 color:var(--text);
		}
	}

	p{
		margin: 0;
	}

	i{
		position: absolute;
		top: 28px;
    	display: flex;
		left: 0%;
		transform: translate(20px, -50%);
	}

	.text-email{
		display: flex;
		column-gap: 20px;
		margin-bottom: 20px;
		position: relative;
		@media(max-width: 479px){
			flex-flow:column;
		}
		.ova-text{
			position: relative;
			width: 50%;
			overflow: hidden;
			flex: 0 0 50%;

			@media(max-width: 479px){
				width: 100%;
				flex: 0 0 100%;
				margin-bottom: 20px;
			}	
		}
		.ova-email{
			position: relative;
			width: 50%;
			overflow: hidden;
			@media(max-width: 479px){
				width: 100%;
			}
		}
		input{
			width: 100%;
			border-color: transparent;
			background-color: rgb(252, 245, 245);
			padding: 17px 30px;
		    border-radius: unset;

			@media(max-width: 479px){
				padding-left: 20px;
			}

		}
	}

	.ova-textarea{
		margin-bottom: 20px;
		position: relative;
		i{
		    position: absolute;
		    top: 30px;
		    left: 0%;
		    transform: translate(20px, -50%);
		}

		textarea{
			max-height: 112px;
			width: 100%;
			border-color: transparent;
			background-color: rgb(252, 245, 245);
			padding: 17px 15px;
			padding-left: 30px;
		    border-radius: unset;

			@media(max-width: 479px){
				padding-left: 20px;
			}
		}
	}
	.ova-submit{
		button{
			padding: 20px 47px;
		    font-size: 12px;
    		font-weight: bold;
    		letter-spacing: 2px;
    		text-transform: uppercase;
			font-family: var(--primary-font);
		    border-radius: unset;
		}
	}
	&.form-service{
		.text-email{
			input{
				padding: 17px 20px;
			}
		} 
		.ova-textarea {
			textarea{
				max-height: 125px;
			    padding: 25px 20px;
			}
		}
		.ova-full-witdh{
			width: 100%;
		}
	}
}

// custom cf7 style with class ova-wpcf7-wrapper
.ova-wpcf7-input-bgwhite {
	.ova-contact-page {
		.text-email {
			input {
				background-color: #fff;
			}
		} 
		.ova-textarea {
			textarea {
				background-color: #fff;
			}
		} 
	}
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output{
	border-color: #dc3232;
	color: #dc3232;
}