.xp-customize-instagram{
	.insta-gallery-feed .insta-gallery-list .insta-gallery-item .insta-gallery-icon, .qligg-mfp-wrap .insta-gallery-list .insta-gallery-item .insta-gallery-icon{
        top: 50% !important;
	    bottom: unset !important;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    margin: 0;
	}
}

// xp hide element
.xp-hide-element-min1024-max1300{ 
	@media (min-width: 1024px) and (max-width: 1300px) {
		display: none;
	}
}
.xp-hide-element-min1024-max1450{ 
	@media (min-width: 1024px) and (max-width: 1450px) {
		display: none;
	}
}
.xp-hide-element-min1024-max1650{ 
	@media (min-width: 1024px) and (max-width: 1650px) {
		display: none;
	}
}

// Gap
.xp-element-column-gap-40px {
	.elementor-widget-wrap {
		column-gap: 40px;
	}
}
.xp-element-column-gap-30px {
	.elementor-widget-wrap {
		column-gap: 30px;
	}
}
.xp-element-column-gap-20px {
	.elementor-widget-wrap {
		column-gap: 20px;
	}
}

// Margin
.xp-element-column-margin-right-75px {
	.elementor-widget-wrap {
		margin: 0 75px 0 0;
	}
}
.xp-element-column-margin-right-50px {
	.elementor-widget-wrap {
		margin: 0 50px 0 0;
	}
}
.xp-element-column-margin-right-35px {
	.elementor-widget-wrap {
		margin: 0 35px 0 0;
	}
}

.xp-element-column-margin-left-75px {
	.elementor-widget-wrap {
		margin: 0 0 0 75px;
	}
}

.xp-element-column-margin-left-50px {
	.elementor-widget-wrap {
		margin: 0 0 0 50px;
	}
}
.xp-element-column-margin-left-35px {
	.elementor-widget-wrap {
		margin: 0 0 0 35px;
	}
}

// RTL
.rtl {
	.xp-element-column-margin-right-75px {
		.elementor-widget-wrap {
			margin: 0 0 0 75px;
		}
	}
	.xp-element-column-margin-right-50px {
		.elementor-widget-wrap {
			margin: 0 0 0 50px;
		}
	}
	.xp-element-column-margin-right-35px {
		.elementor-widget-wrap {
			margin: 0 0 0 35px;
		}
	}
	.xp-element-column-margin-left-75px {
		.elementor-widget-wrap {
			margin: 0 75px 0 0;
		}
	}
	.xp-element-column-margin-left-50px {
		.elementor-widget-wrap {
			margin: 0 50px 0 0;
		}
	}
	.xp-element-column-margin-left-35px {
		.elementor-widget-wrap {
			margin: 0 35px 0 0;
		}
	}

	.xprtl-bg-bottom-right {
		background-position: bottom right!important;
	}
	.xprtl-bg-overlay-center-right {
		.elementor-background-overlay {
			background-position: center right!important;
		}
	}
	.xprtl-bg-overlay-center-left {
		.elementor-background-overlay {
			background-position: center left!important;
		}
	}
}