/* Custom Animation */

.xp-move-up {
  animation-name: xpMoveUp;
  -moz-animation-name: xpMoveUp;
  -webkit-animation-name: xpMoveUp; }

@-webkit-keyframes xpMoveUp {
  from {
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0; }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@-moz-keyframes xpMoveUp {
  from {
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0; }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@-ms-keyframes xpMoveUp {
  from {
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0; }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@keyframes xpMoveUp {
  from {
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0; }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

.xp-move-down {
  animation-name: xpMoveDown;
  -moz-animation-name: xpMoveDown;
  -webkit-animation-name: xpMoveDown; }

@-webkit-keyframes xpMoveDown {
  from {
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0; }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@-moz-keyframes xpMoveDown {
  from {
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0; }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@-ms-keyframes xpMoveDown {
  from {
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0; }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@keyframes xpMoveDown {
  from {
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0; }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

.xp-move-left {
  animation-name: xpMoveLeft;
  -moz-animation-name: xpMoveLeft;
  -webkit-animation-name: xpMoveLeft; }

@-webkit-keyframes xpMoveLeft {
  from {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@-moz-keyframes xpMoveLeft {
  from {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@-ms-keyframes xpMoveLeft {
  from {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@keyframes xpMoveLeft {
  from {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0; }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

.xp-move-right {
  animation-name: xpMoveRight;
  -moz-animation-name: xpMoveRight;
  -webkit-animation-name: xpMoveRight; }

@-webkit-keyframes xpMoveRight {
  from {
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0; }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@-moz-keyframes xpMoveRight {
  from {
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0; }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@-ms-keyframes xpMoveRight {
  from {
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0; }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

@keyframes xpMoveRight {
  from {
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0; }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

.xp-scale-up {
  animation-name: xpScaleUp;
  -moz-animation-name: xpScaleUp;
  -webkit-animation-name: xpScaleUp; }

@-webkit-keyframes xpScaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6); }
  to {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@-moz-keyframes xpScaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6); }
  to {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@-ms-keyframes xpScaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6); }
  to {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes xpScaleUp {
  from {
    opacity: 0;
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6); }
  to {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

.xp-flip {
  animation-name: xpFlip;
  -moz-animation-name: xpFlip;
  -webkit-animation-name: xpFlip; }

@-webkit-keyframes xpFlip {
  from {
    opacity: 0;
    -webkit-perspective: 1300px;
    perspective: 1300px;
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  to {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1; } }

@-moz-keyframes xpFlip {
  from {
    opacity: 0;
    -webkit-perspective: 1300px;
    perspective: 1300px;
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  to {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1; } }

@-ms-keyframes xpFlip {
  from {
    opacity: 0;
    -webkit-perspective: 1300px;
    perspective: 1300px;
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  to {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1; } }

@keyframes xpFlip {
  from {
    opacity: 0;
    -webkit-perspective: 1300px;
    perspective: 1300px;
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  to {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1; } }

.xp-helix {
  animation-name: xpHelix;
  -moz-animation-name: xpHelix;
  -webkit-animation-name: xpHelix; }

@-webkit-keyframes xpHelix {
  from {
    opacity: 0;
    -webkit-perspective: 1300px;
    perspective: 1300px;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1; } }

@-moz-keyframes xpHelix {
  from {
    opacity: 0;
    -webkit-perspective: 1300px;
    perspective: 1300px;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1; } }

@-ms-keyframes xpHelix {
  from {
    opacity: 0;
    -webkit-perspective: 1300px;
    perspective: 1300px;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1; } }

@keyframes xpHelix {
  from {
    opacity: 0;
    -webkit-perspective: 1300px;
    perspective: 1300px;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }
  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1; } }

.xp-popup {
  animation: xpPopup;
  -moz-animation-name: xpPopup;
  -webkit-animation-name: xpPopup; }

@-webkit-keyframes xpPopup {
  from {
    opacity: 0;
    -webkit-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1300px;
    perspective: 1300px; }
  70% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    opacity: .8;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out; }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; } }

@-moz-keyframes xpPopup {
  from {
    opacity: 0;
    -webkit-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1300px;
    perspective: 1300px; }
  70% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    opacity: .8;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out; }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; } }

@-ms-keyframes xpPopup {
  from {
    opacity: 0;
    -webkit-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1300px;
    perspective: 1300px; }
  70% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    opacity: .8;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out; }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; } }

@keyframes xpPopup {
  from {
    opacity: 0;
    -webkit-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1300px;
    perspective: 1300px; }
  70% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    opacity: .8;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out; }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1; } }